.app-header {
    height: 50px;
    margin-left: 60px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.app-content {
    height: 50px;
    margin-left: 15%;
    margin-top: 10px;
    position: fixed;
    width: 60%;
    height: 80%;
    z-index: 1;
}